@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Michroma&display=swap');

html, body {
    font-family:'Barlow Condensed', sans-serif;
    color: #031403;
    font-size:larger;

    background-color: #88fac6;
}

footer {
    color: grey;
    font-size: small;
}

a:hover {
    color: #500fff;
    font-size: 98%;
}

a:hover::after{
    display: block;
}

a:visited {
    color: #3e4f3e;
}

span {
    color: red;
}

.deemphasized {
    color: grey;
}

.button {
    color: #031403;
    font-size: 110%;
    font-weight: bold;
    background-color: white;
    border-radius: 50%;
}

