html, body {
  background-color: #031403;
  color: #fff;
  text-align: center;

  background-image: url("media-main/backing.jpg");
}

ul,ol {
  display: table;
  list-style-position: inside;
  text-align: left;
}

/*ul {
    display:flexbox;
    list-style-type: none;
    padding: 0;
}*/

a {
    color: #8ab4f8;
}
/*
h1 {
    color:magenta;
}

img {
    transform: rotate(90);
    max-width:100%;
}
*/